@import './base.css';

#app {
    width: 100%;
    margin: 0 auto;
    padding: 2rem;

    font-weight: normal;

    display: flex;
    flex-direction: column;

    align-items: center;
}

.site-section {
    width: 80%;
}

header a {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
    header a a:hover {
        background-color: hsla(160, 100%, 37%, 0.2);
    }
}
